<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav>
    <a href="/">blokus</a>
    <ul>
        <li>
            <a href="#" class="link">play</a>
        </li>
        <li>
            <a href="#" class="link">rank</a>
        </li>
        <li>
            <a href="#" class="link">group</a>
        </li>
        <li>
            <a href="#" class="link">rules</a>
        </li>
    </ul>
    <a href="#">sign up</a>
  </nav>
  {% block content %}
  {% endblock %}
  {% block script %}
  {% endblock %}
</body>